@using WebToDoList.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@model TasksPageViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@Model.PageTitle</title>
    
    <link rel="stylesheet" href="~/StyleSheet.css" />
</head>
<body>
    <div class="content">
        <div class="menu">
            <ul>
                <li id="home" onclick="window.location.href = '/Tasks/Index'">Home</li>
                <li id="today" onclick="window.location.href = '/Tasks/TodayTasks'">Today</li>
                <li id="tomorrow" onclick="window.location.href = '/Tasks/TomorrowTasks'">Tomorrow</li>
            </ul>
        </div>
        <div class="task_list">
            <a href="~/Tasks/Create" class="button">Create</a>
            <ul id="list">
                @foreach (var task in Model.Tasks)
                {
                    @if (!task.IsCompleted)
                    {
                        <li id="#li">
                            <div class="context">
                                <input class="checkbox" type="checkbox" checked="@task.IsCompleted" onclick="window.location.href = '/Tasks/IsCompleted/@task.Id'" />
                                <div class="list_item">@task.Text</div>
                                <div class="priority">@task.priorities</div>
                                <div class="data">@task.Date.ToString("dd MM yyyy")</div>
                                <form method="post" action="~/Tasks/Delete/@task.Id">
                                    <span class="close">
                                        <input type="submit" value="×" class="btn" />
                                    </span>
                                </form>
                            </div>
                        </li>
                    }
                }
                @foreach (var task in Model.Tasks)
                {
                    @if (task.IsCompleted)
                    {
                        <li id="#li2" class="checked">
                            <div class="context">
                                <input class="checkbox" type="checkbox" checked="@task.IsCompleted" onclick="window.location.href = '/Tasks/IsCompleted/@task.Id'" />
                                <div class="list_item">@task.Text</div>
                                <div class="priority">@task.priorities</div>
                                <div class="data">@task.Date.ToString("dd MM yyyy")</div>
                                <form method="post" action="~/Tasks/Delete/@task.Id">
                                    <span class="close">
                                        <input type="submit" value="×" class="btn" />
                                    </span>
                                </form>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
    <footer class="footer">
        &copy; 2021 - WebToDo
    </footer>
    <script>

    </script>
</body>
</html>